body {
    background-color: #1F2937;
}

html, body {
    margin: 0;
    height: 100%;
}

.headerblock{
    height: 50px;
}

.header {
    display: inline;
    font-size: 24px;
    color: #F9FAF8;
}

.header1 {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    display: inline;
    padding-left: 40px;
}

section {
    width: 960px;
}

div {
    width: 960px;
}

.titlecard {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 50px;
}

.titleone {
    flex: 1 0 auto;
    width: 300px;
    padding-left: 150px;
}

.titletwo {
    padding-left: 90px;
    margin-top: auto;
    margin-bottom: auto;
}

.thumb {
    width: 290px;
}

.titlemain {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-bottom: -15px;
}

.titlesub {
    font-size: 18px;
    color: #E5E7EB;
}

.informationcard {
    background-color: white;
}

.infotitle {
    text-align: center;
}

.duckcontainer {
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
}

.duck {
    width: 170px;
    height: 170px;
    border-radius: 25px;
    border: 2px solid #3882f6;
}

.ducksubtext {
    font-size: 18px;
    color: gray;
    margin-top: -3px;
}

.quotecard {
    background-color: #E5E7EB;
}

.calltoaction {
    background-color: #3882f6;
}